.cart-dropdown {
    min-width: 250px;
    /* Set a minimum width for the dropdown */
}

.cart-item {
    padding: 10px;
}

.cart-item:hover {
    background-color: #f8f9fa;
    /* Change background color on hover */
}

.empty-cart {
    padding: 10px;
    color: #999;
    /* Lighter color for empty cart message */
}

.dropdown-divider {
    margin: 0;
    /* Remove margin for better alignment */
}

.custom-bg {
    background-image: url("../img/gallery/Cloud-Lounge-Cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    /* Ensure text is visible against the background image */
    padding: 100px 0; /* Adjust padding as necessary */
}

@media (max-width: 768px) {
    .custom-bg {
        padding: 70px 0; /* Adjust padding as necessary */
    }
}
