{% extends "products/base.html" %}

{% block title %}
    Bread & Cookies
{% endblock %}

{% block body %}
{% load static %}

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-5">
        <h2 class="fw-bold fs-3 fs-lg-5 lh-sm">Bread & Cookies Items</h2>
        <hr class="divider" />
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for bread in breads %}
      <div class="col">
        <div class="card h-100 border-0">
          <img src="{{ bread.image.url }}" class="card-img-top" alt="Bread Image">
          <div class="card-body">
            <h5 class="card-title fw-bold text-1000">{{ bread.title }}</h5>
            {% if bread.discount_price %}
            <span class="card-text"><small class="text-muted">Tk.{{ bread.price }}</small></span>
            <span class="card-text text-danger fw-bold">Discount Price: Tk.{{ bread.discount_price }}</span>
            
            {% else %}
            <span class="card-text text-1000 fw-bold">Price: Tk.{{ bread.price }}</span>
            {% endif %}
            <div class="btn-group">
              <a href="{% url 'product-detail' bread.id %}" class="btn btn-danger">Quick View</a>
              <button class="btn btn-primary" type="submit">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock %}