{% extends "products/base.html" %}

{% block title %}
    Cake Items
{% endblock %}

{% block body %}
{% load static %}
<section class="py-12">
  <div class="container mx-auto">
    <h2 class="text-3xl font-extrabold text-center mb-6 text-black-900">Discover Delicious Cakes</h2>
    <hr class="border-t-3 border-gray-300 my-4">


    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

      {% for cake in cakes %}
      <div class="overflow-hidden shadow-lg rounded-lg">
        <div class="aspect-w-1 aspect-h-1">
          <img class="object-cover object-center w-full h-full" href="{% url 'product-detail' cake.id %}" src="{{ cake.image.url }}" alt="{{ cake.title }}">
        </div>

        <div class="p-4">
          <h3 class="text-xl font-semibold mb-2">{{ cake.title }}</h3>
          <div class="flex justify-between items-center mb-4">
            {% if cake.discount_price %}
            <span class="text-gray-500 line-through">Tk. {{ cake.price }}</span>
            <span class="text-red-500 font-bold">Tk. {{ cake.discount_price }}</span>
            {% else %}
            <span class="text-gray-700 font-bold">Tk. {{ cake.price }}</span>
            {% endif %}
          </div>
          <div class="d-grid gap-2 mt-2">
            <button class="btn btn-lg btn-primary add-to-cart-btn" data-product-id="{{ cake.id }}">Add to Cart</button>
            <a class="btn btn-lg btn-danger" href="{% url 'product-detail' cake.id %}" role="button">Quick View</a>
          </div>
          
          
          
          
          
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Pagination Controls -->
{% if cakes.has_other_pages %}
<div class="container mx-auto">
  <nav class="flex justify-center mt-8" aria-label="Page navigation">
    <ul class="flex">
      {% if cakes.has_previous %}
      <li>
        <a href="?page=1" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md mr-2 hover:bg-gray-300 transition duration-300">&laquo;</a>
      </li>
      {% endif %}
      {% for num in cakes.paginator.page_range %}
      <li>
        <a href="?page={{ num }}" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md mr-2 hover:bg-gray-300 transition duration-300 {% if num == cakes.number %}bg-blue-500 text-white{% endif %}">{{ num }}</a>
      </li>
      {% endfor %}
      {% if cakes.has_next %}
      <li>
        <a href="?page={{ cakes.paginator.num_pages }}" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300 transition duration-300">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  jQuery(document).ready(function($) {
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    $('.add-to-cart-btn').click(function(event) {
      event.preventDefault();
      var productId = $(this).data('product-id');
      var csrftoken = getCookie('csrftoken');

      $.ajax({
        type: 'POST',
        url: '/addtocart/' + productId + '/',
        data: {
          'product_id': productId,
          'quantity': 1
        },
        headers: {
          'X-CSRFToken': csrftoken
        },
        success: function(data) {
          console.log('Product added to cart successfully!');
        },
        error: function(xhr, textStatus, errorThrown) {
          console.log('Error:', errorThrown);
        }
      });
    });
  });
</script>

{% endblock %}
