{% extends "products/base.html" %}

{% block title %}
<!-- Add title here -->
{% endblock %}

<style>


  .card-span {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  .carousel-item {
    transition: transform 0.6s ease-in-out;
  }
  .carousel-inner .carousel-item {
    display: flex;
    flex-wrap: wrap;
  }
  .fixed-dimension {
    width: 250px !important;
    height: 250px !important;
    object-fit: cover;
  }

  .card-span {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
  }
  .card-span:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #e0e0e0;
  }
  .card-body {
    padding: 15px;
  }


  /* Importing a modern, clean font */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h5 {
    font-size: xx-large !important;
    text-transform: uppercase;
    color: #343a40;
    letter-spacing: 1.5px;
  }
  
  .card-span {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-span:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 10px 0;
  }
  
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .fixed-dimension {
    height: 200px;
    object-fit: cover;
  }
  
  .carousel-inner .row {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  
  .carousel-inner .col-xl,
  .carousel-inner .col-md,
  .carousel-inner .col-sm {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  
  .d-grid {
    margin-top: 1rem;
  }
  
  @media (max-width: 576px) {
    .fixed-dimension {
      height: 150px;
    }
  }
  
</style>


{% load static %}
{% block banner %}
<section class="custom-bg" id="home" style="background-image: url('{% if banner %}{{ banner.image.url }}{% else %}{% static 'assets/img/gallery/Cloud-Lounge-Cover.png' %}{% endif %}');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
          <!-- Dynamic banner content goes here -->
      </div>
    </div>
  </div>
</section>
{% endblock %}






{% block body %}
{% load static %}
<!-- ============================================-->
<!-- <section> begin ============================-->
  <section class="py-5 overflow-hidden" style="margin-bottom: -80px">
    <div class="container">
      <div class="row flex-center mb-6">
        <div class="col-12">
          <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 align-items-center justify-content-center">
                  <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
                    <a href="{% url 'cake' %}" class="card card-span h-100 text-decoration-none text-dark">
                      <img class="img-fluid card-img-top" style="border-radius: 10px;" src="{% static 'assets/img/gallery/Cake1.png' %}" alt="Cakes" />
                      <div class="card-body text-center">
                        <span class="fw-bold text-1000 text-truncate mb-2">Cakes</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
                    <a href="{% url 'bread' %}" class="card card-span h-100 text-decoration-none text-dark">
                      <img class="img-fluid card-img-top" style="border-radius: 10px;" src="{% static 'assets/img/gallery/b2.png' %}" alt="Bread & Cookies" />
                      <div class="card-body text-center">
                        <span class="fw-bold text-1000 text-truncate mb-2">Bread & Cookies</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
                    <a href="{% url 'savory' %}" class="card card-span h-100 text-decoration-none text-dark">
                      <img class="img-fluid card-img-top" style="border-radius: 10px;" src="{% static 'assets/img/gallery/s1.png' %}" alt="Savory" />
                      <div class="card-body text-center">
                        <span class="fw-bold text-1000 text-truncate mb-2">Savory</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
                    <a href="{% url 'frozen' %}" class="card card-span h-100 text-decoration-none text-dark">
                      <img class="img-fluid card-img-top" style="border-radius: 10px;" src="{% static 'assets/img/gallery/f2.png' %}" alt="Frozen" />
                      <div class="card-body text-center">
                        <span class="fw-bold text-1000 text-truncate mb-2">Frozen</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>
  


<!-- <section> begin ============================-->
  <section class="py-0 overflow-hidden">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mt-4 mb-5">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Popular items</h5>
        </div>
        <div class="col-12">
          <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <!-- Cakes -->
                <div class="row gx-3 h-100 align-items-center">
                  {% for cake in cakes %}
                  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                    <div class="card card-span h-100 rounded-3 border-0">
                      <img class="img-fluid rounded-3 card-img-top fixed-dimension" src="{{cake.image.url}}" alt="..." />
                      <div class="card-body ps-0 text-center">
                        <h5 class="fw-bold text-1000 text-truncate mb-1">{{cake.title}}</h5>
                        <div>
                          {% if cake.discount_price %}
                            <span class="text-muted"><del>Tk. {{cake.price}}</del></span>
                            <span class="text-danger fw-bold"> Tk. {{cake.discount_price}}</span>
                          {% else %}
                            <span class="text-1000 fw-bold">Tk. {{cake.price}}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                      <button class="btn btn-lg btn-primary add-to-cart-btn" data-product-id="{{ cake.id }}">Add to Cart</button>
                      <a class="btn btn-lg btn-danger quick-view-btn" data-product-id="{{ cake.id }}" href="#" role="button">Quick View</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
  
                <!-- Breads -->
                <div class="row gx-3 h-100 align-items-center">
                  {% for bread in breads %}
                  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                    <div class="card card-span h-100 rounded-3 border-0">
                      <img class="img-fluid rounded-3 card-img-top fixed-dimension" src="{{bread.image.url}}" alt="..." />
                      <div class="card-body ps-0 text-center">
                        <h5 class="fw-bold text-1000 text-truncate mb-1">{{bread.title}}</h5>
                        <div>
                          {% if bread.discount_price %}
                            <span class="text-muted"><del>Tk. {{bread.price}}</del></span>
                            <span class="text-danger fw-bold"> Tk. {{bread.discount_price}}</span>
                          {% else %}
                            <span class="text-1000 fw-bold">Tk. {{bread.price}}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                      <button class="btn btn-lg btn-primary add-to-cart-btn" data-product-id="{{ bread.id }}">Add to Cart</button>
                      <a class="btn btn-lg btn-danger quick-view-btn" data-product-id="{{ bread.id }}" href="#" role="button">Quick View</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
  
                <!-- Savories -->
                <div class="row gx-3 h-100 align-items-center">
                  {% for savorie in savories %}
                  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                    <div class="card card-span h-100 rounded-3 border-0">
                      <img class="img-fluid rounded-3 card-img-top fixed-dimension" src="{{savorie.image.url}}" alt="..." />
                      <div class="card-body ps-0 text-center">
                        <h5 class="fw-bold text-1000 text-truncate mb-1">{{savorie.title}}</h5>
                        <div>
                          {% if savorie.discount_price %}
                            <span class="text-muted"><del>Tk. {{savorie.price}}</del></span>
                            <span class="text-danger fw-bold"> Tk. {{savorie.discount_price}}</span>
                          {% else %}
                            <span class="text-1000 fw-bold">Tk. {{savorie.price}}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                      <button class="btn btn-lg btn-primary add-to-cart-btn" data-product-id="{{ savorie.id }}">Add to Cart</button>
                      <a class="btn btn-lg btn-danger quick-view-btn" data-product-id="{{ savorie.id }}" href="#" role="button">Quick View</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
  
                <!-- Frozen -->
                <div class="row gx-3 h-100 align-items-center">
                  {% for frozen in frozens %}
                  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                    <div class="card card-span h-100 rounded-3 border-0">
                      <img class="img-fluid rounded-3 card-img-top fixed-dimension" src="{{frozen.image.url}}" alt="..." />
                      <div class="card-body ps-0 text-center">
                        <h5 class="fw-bold text-1000 text-truncate mb-1">{{frozen.title}}</h5>
                        <div>
                          {% if frozen.discount_price %}
                            <span class="text-muted"><del>Tk. {{frozen.price}}</del></span>
                            <span class="text-danger fw-bold"> Tk. {{frozen.discount_price}}</span>
                          {% else %}
                            <span class="text-1000 fw-bold">Tk. {{frozen.price}}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                      <button class="btn btn-lg btn-primary add-to-cart-btn" data-product-id="{{ frozen.id }}">Add to Cart</button>
                      <a class="btn btn-lg btn-danger quick-view-btn" data-product-id="{{ frozen.id }}" href="#" role="button">Quick View</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


<!-- <Product details modal js  > ============================-->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  jQuery(document).ready(function($) {
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }


  });
</script>


{% endblock %}
