{% extends "products/base.html" %}

{% block title %}
  {{ product.title }}
{% endblock %}

{% block body %}
{% load static %}

<div class="container my-5">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="md:flex md:justify-center md:items-center">
      <div class="mb-4 md:mb-0">
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="w-full rounded shadow-sm">
      </div>
    </div>
    <div>
      <h2 class="text-3xl font-bold mb-4">{{ product.title }}</h2>
      {% if product.discount_price %}
        <p class="text-lg mb-4">Price: <span class="text-gray-500 line-through">Tk. {{ product.price }}</span></p>
        <p class="text-lg text-green-500 font-semibold">Discount Price: <span class="font-bold">Tk. {{ product.discount_price }}</span></p>
      {% else %}
        <p class="text-lg mb-4">Price: Tk. {{ product.price }}</p>
      {% endif %}
      <p class="product-detail">{{ product.detail|safe }}</p>

      <div class="mt-4">
        <a href="{% url 'addtocart' product.id %}" class="inline-block px-6 py-3 text-white font-semibold rounded-lg shadow-md hover:#ef3e26;:from-#ef3e26; hover:to-#ef3e26; transition duration-300 transform hover:scale-105" style="background-color:#ef3e26;">Add to Cart</a>
      </div>
      
      
    </div>
  </div>
</div>

{% endblock %}
